body {
    font-family: Helvetica, Courier, serif;
    color:#cc1515;
    background-color: color #f5f5ac;
    
}


h1 {
    text-align:center;
    
    border-style:outset;
    border-radius: 15px;
    border-color: #ca5454;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

.image {
    border-radius: 15px;
}

h2 {
    text-decoration:underline;
}
