body {
    font-family: Helvetica, Courier, serif;
    background-color: color #f5f5ac;
    
}


h1 {
    text-align:center;
    color:#cc1515;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    border-radius: 15px;
}
