body {
    font-family: Helvetica, Courier, serif;
    color:#cc1515;
    background-color: color #f5f5ac;
    box-sizing: border-box;
}


h1 {
    text-align:center;
    
    border-style:outset;
    border-radius: 15px;
    border-color: #ca5454;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

.image {
    border-radius: 15px;
    height:auto;
}

h2 {
    text-decoration:underline;
    font-weight:500;
}

a {
    display:block;
    text-align:center;
}
a:link {
    text-decoration: none;
}

ul,ol,p {
    margin:16px;
    padding:0;
}

ol {
    list-style-position: inside;

}
ul {
    list-style-type: none;
}

.thumbnail {
    display: inline-block;
}

.homepage {
    border-style: inset;
    border-color: #ca5454;
    border-radius: 15px;
    padding: 5px;
    height: 330px;
    width: 310px;
    margin: 30px;
}

.homepage > .image {
    width: 310px;
    height: 310px;
}